:root {
    --primary-color: #1D3867;
	--main-color-1: #2A7997;
	--main-color-2: #00425A;
	--secondary-color-1: #111629;
	--secondary-color-2: #4AB0BF;
	--secondary-color-3: #BFDB38;
    --section-padding: 60px;
    --section-background: #eaf0f9;
    --color-white: #fff;
    --icon-main-color: #111629;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --card-padding: 10px;
    --padding-1: 1.2rem;

    --box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}
.navbar {
    position: sticky;
    top: 0;
    background-color: var(--color-white);
}
.container .text {
    text-align: center;
}
.container .p-section {
    width: 700px;
    margin: 20px auto;
}
.container h2.title {
    display: inline-block;
    font-size: 35px;
    color: #1D3867;
    font-weight: 700;
    position: relative;
}
.background .header {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../images/about\ -\ background.png) no-repeat center center / cover;
    width: 100%;
    height: 483px;
    position: relative;
    z-index: -1;
    flex-direction: column;
}
.background .header h2 {
    color: var(--color-white);
    font-size: 45px;
    line-height: 75px;
    text-align: center;
    max-width: 820px;
}
.background .header {
    font-size: 35px;
    color: var(--color-white);
}



/*------- We Are -------*/
.we-are {
    position: relative;
}
.we-are .row-1-col-2 {
    display: flex;
    flex-direction: row;
    gap: 250px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.we-are .row-1-col-2 .text {
    text-align: left;
}
.we-are .row-1-col-2 .text p span {
    font-size: 28px;
    font-weight: 700;
    display: block;
    color: var(--main-color-1);
}
.we-are .row-1-col-2 .text p {
    width: 540px;
    font-size: 19px;
}
.we-are .row-1-col-2 .img {
    width: 600px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-left: 100px; */
}
.we-are .row-1-col-2 img {
    /* width: 550px;
    height: 500px; */
    width: inherit;
    height: inherit;
}
.reg {
    position: absolute;
    right: 0;
    border-radius: 240px 0 0 240px;
    background: #EBF5F5;
    box-shadow: 0px 0px 4px rgb(0 0 0 / 25%);
    z-index: -1;
    width: 745px;
    height: 450px;
}



/*------- Section 2 -------*/
.s2-about {
    background-color: var(--primary-color);
    height: 58rem;
    margin-top: -50rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: #fff;
    font-size: 20px;
}
.s2-about .follow {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
    padding: 0 10px;
    justify-content: center;
    flex-wrap: wrap;
}
.s2-about .social {
    display: flex;
    gap: 45px;
    font-size: 24px;
}
.about-us.row-2-col-2 {
    background-color: var(--color-white);
    max-width: 1170px;
    margin: 10px auto;
    position: relative;
    box-shadow: 0px 0px 4px rgb(0 0 0 / 25%);
}
.about-us.row-2-col-2 .row-1-col-2 {
    
    display: flex;
    /* justify-content: center; */
    justify-content: space-between;
    flex-wrap: wrap;
    /* gap: 20px; */
}
.about-us.row-2-col-2 .text {
    flex: 0 0 48.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 30px;
}
.about-us.row-2-col-2 .text h2 {
    color: #2A7997;
}
.about-us.row-2-col-2 .text p {
    font-size: 17px;
}
.about-us.row-2-col-2 img {
    width: 580px;
    height: 450px;
}
.about-us.row-2-col-2 .row-1-col-2:nth-child(2) {
    margin-top: 20px;
    flex-direction: row-reverse;
}

.bg-gradient {
    background: linear-gradient(360deg, rgba(83, 177, 177, 0.25) 0%, rgba(83, 177, 177, 0.00885423) 61.77%, rgba(83, 177, 177, 0) 100%);
}

/*------- Our expertise -------*/
.text .line {
    border: 1.6px solid #2A7997;
    width: 10%;
    margin: 0 auto;
}
.exp .cards {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    grid-template-rows: repeat(2, max-content);
    justify-items: center;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin: 30px 0;
}
.exp .cards .card {
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 25%);
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding: 25px;
    width: max-content;
}
.exp .cards .card img {
    width: 80px;
    height: 80px;
}
.exp .cards .card h3 {
    font-size: 26px;
    font-weight: 500;
    color: #003366;
}

/*------- Project - Sub Services 2 -------*/
.say-about .text {
    text-align: center;
}
.say-about .container {
    padding: 45px;
    width: fit-content;
}
.say-about .text h2 {
    display: inline-block;
    font-size: 35px;
    color: var(--primary-color);
    border-bottom: 3px solid var(--main-color-1);
    font-weight: 700;
}
.success-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.testimonial {
    position: relative;
    max-width: 900px;
    width: 100%;
    padding: 50px 0;
    overflow: hidden;
}
.testimonial .image {
    height: 170px;
    width: 170px;
    object-fit: cover;
    border-radius: 50%;
}
.testimonial .slide {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 30px;
    height: 100%;
    width: 100%;
}
.say-about .slide p {
    position: relative;
}
.say-about .slide span {
    position: absolute;
    font-size: 45px;
    color: var(--secondary-color-3);
}
.say-about .slide .s1 {
    top: -35px;
    left: 160px;
}
.say-about .slide .s2 {
    right: 160px;
}
.slide p {
    text-align: center;
    padding: 0 160px;
    font-size: 14px;
    font-weight: 400;
    color: #333;
}
.slide .quote-icon {
    font-size: 30px;
    color: #4070f4;
}
.swiper-pagination-bullet {
    background-color: rgba(0, 0, 0, 0.8);
}
.swiper-pagination-bullet-active {
    background-color: #4070f4;
}
@media screen and (max-width: 768px) {
    .slide p {
        padding: 0 20px;
    }
    .nav-btn {
        display: none;
    }
    .say-about .text h2 {
        font-size: 30px;
    }
    .say-about .slide .s1 {
        left: 15px;
    }
    .say-about .slide .s2 {
        right: 15px;
    }
}
@media screen and (max-width: 1000px) {
    .say-about .container {
        width: auto;
    }
}


/*------- Our Team -------*/
.slide-container{
    max-width: 1120px;
    width: 100%;
    padding: 40px 0;
    margin: 0 auto;
}
.slide-content{
    margin: 0 40px;
    overflow: hidden;
    border-radius: 25px;
}
.swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.image-content,
.card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 14px;
    position: absolute;
    bottom: 0;
}
.card-content:nth-child(1n) {
    background-color: #fff;
    border-top: 5px solid #BFDB38;
}
.image-content{
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
}
.card-image{
    position: relative;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    /* background: #FFF; */
    /* padding: 3px; */
}
.card-image:nth-child(1n) {
    background-color: #BFDB38;
}
.card-image .card-img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
}
.name{
    font-size: 18px;
    font-weight: 500;
    color: #333;
}
.swiper-navBtn{
    color: #6E93f7;
    transition: color 0.3s ease;
}
.swiper-navBtn:hover{
    color: #4070F4;
}
.swiper-navBtn::before,
.swiper-navBtn::after{
    font-size: 35px;
}
.swiper-button-next{
    right: 0;
}
.swiper-button-prev{
    left: 0;
}
.swiper-pagination-bullet{
    background-color: #6E93f7;
    opacity: 1;
}
.swiper-pagination-bullet-active{
    background-color: #4070F4;
}

@media screen and (max-width: 768px) {
    .slide-content{
        margin: 0 20px;
    }
    .swiper-navBtn{
        display: none;
    }
    
}


/*------- Questions -------*/
.questions {
    margin-top: 60px;
    margin-bottom: 60px;
}
.questions .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px auto;
    width: 1130px;
    height: 700px;
    align-items: center;
}
.questions .container .question {
    display: flex;
    background: #D6ECEC;
    box-shadow: 0px 0px 4px rgb(0 0 0 / 25%);
    border-radius: 20px 0px 0px 20px;
    padding: 50px 30px;
    flex-direction: column;
    height: 700px;
}
.questions .container .question h2 {
    font-weight: 700;
    font-size: 35px;
    line-height: 64px;
    color: #1D3867;
}
.questions .container .question p {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #1D3867;
    max-width: 582px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.questions .container .question img {
    width: 100%;
    height: 200px;
    display: none;
}
.accordion {
    max-width: 653px;
}
.accordion .content-box {
    position: relative;
    margin-top: 10px;
}
.accordion .content-box .label {
    position: relative;
    background-color: var(--color-white);
    font-weight: 500;
    font-size: 17px;
    color: #1D3867;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 1s;
}
.accordion .content-box .label::before {
    content: '+';
    position: absolute;
    right: 25px;
    top: 50%;
    font-size: 30px;
    transform: translateY(-50%);
}
.accordion .content-box.active .label::before {
    content: '-';
}
.accordion .content-box .content p {
    position: relative;
    padding: 10px 20px;
    text-align: justify;
    display: none;
}
.accordion .content-box.active .content p {
    display: block;
}
.questions .container .img-hand {
    height: 707px;
}
@media screen and (max-width: 1125px) {
    .questions .container {
        width: auto;
        height: auto;
    }
    .questions .container .img-hand {
        display: none;
    }
    .questions .container .question {
        height: auto;
        border-radius: 20px;
    }
    .questions .container .question img {
        display: inline-block;
    }
}








/*------- Media Queries -------*/
@media screen and (max-width: 1420px) {
    .we-are .row-1-col-2 {
        gap: 50px;
        flex-direction: column;
    }
}
@media screen and (max-width: 1185px) {
    .s2-about {
        height: 100rem;
        margin-top: -90rem;
    }
    .about-us.row-2-col-2 {
        width: min-content;
    }
    .about-us.row-2-col-2 .text {
        flex: 0 0 100%;
    }
    .about-us.row-2-col-2 .row-1-col-2,
    .about-us.row-2-col-2 .row-1-col-2:nth-child(2) {
        flex-direction: column-reverse;
    }
    .about-us.row-2-col-2 .text {
        padding: 15px 30px;
    }
}
@media screen and (max-width: 820px) {
    .exp .cards {
        grid-template-columns: none;
    }
}
@media screen and (max-width: 786px) {
    .background .header h2 {
        /* font-size: 36px; */
        line-height: 53px;
    }
    .we-are .row-1-col-2 {
        flex-direction: column;
    }
    .reg {
        width: 100%;
    }
    .we-are .row-1-col-2 .img{
        width: 90%;
    }
    .background .header {
        font-size: 30px;
        padding: 20px;
        text-align: center;
    }
    .container .p-section {
        width: auto;
    }
}
@media screen and (max-width: 620px) {
    .we-are .row-1-col-2 .text p {
        width: auto;
    }
    .background .header {
    font-size: 30px;
    padding: 20px;
    color: var(--color-white);
    text-align: center;
}
}
@media screen and (max-width: 520px) {
    .about-us.row-2-col-2 img {
        width: auto;
        height: 350px;
        /* max-width: 450px;
        max-height: 350px; */
    }
    .s2-about {
        height: 110rem;
        margin-top: -100rem;
    }
    .exp .text .line {
        width: 20%;
    }
    .say-about .text h2 {
        font-size: 24px;
    }
}
@media screen and (max-width: 430px) {
    .about-us.row-2-col-2 img {
        width: auto;
        height: 290px;
    }
}