:root {
	--main-color-1: #368FA7;
	--main-color-2: #00425A;
	--secondary-color-1: #111629;
	--secondary-color-2: #4AB0BF;
	--secondary-color-3: #BFDB38;
    --section-padding: 60px;
    --section-background: #eaf0f9;
    --color-white: #fff;
    --icon-main-color: #111629;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --card-padding: 10px;
    --padding-1: 1.2rem;

    --box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}
.container .text {
    text-align: center;
}
.container .p-section {
    width: 700px;
    margin: 20px auto;
}
.container h2.title {
    display: inline-block;
    font-size: 40px;
    border-bottom: 3px solid var(--main-color-1);
}
/* Section What We Do */
.container .text .readMore {
    display: inline-block;
    background-color: var(--main-color-1);
    color: var(--color-white);
    width: 150px;
    padding: 5px;
    border-radius: var(--border-radius-3);
    box-shadow: var(--box-shadow);
}
.what-we-do .container img {
    width: 80%;
    display: block;
    margin: 20px auto;
}


/*------- Background -------*/
.background .header {
    /* background-image: url(../images/background.png);
    background-size: cover;
    background-repeat: no-repeat; */
    width: 100%;
    background-image: linear-gradient(to right top, #52b1b1, #b4c336);
    height: 100vh;
    position: relative;
    z-index: -1;
}
video {
    width: 100%;
    height: 100%;
}
.back-video {
    width: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -10;
}
/*  */
/* .services {
    margin: 30px auto;
} */
.services img {
    width: 110px;
}
.services .card {
    /* width: 230px !important; */
    width: 294px !important;
    height: 390px !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: var(--color-white);
    padding: 20px;
    border-radius: var(--border-radius-2);
    box-shadow: var(--box-shadow);
    margin: auto 20px;
    justify-content: center;
    position: relative;
}
.services .card p {
    text-align: justify;
}
.swiper {
    padding: 5px 0;
}
.services .card  i {
    position: absolute;
    bottom: 10px;
    right: 15px;
    font-size: 30px;
    color: var(--main-color-2);
}


/*------- Media Queries -------*/
@media screen and (max-width: 768px) {
    .container .p-section {
        width: auto;
    }
    .what-we-do .container img {
        max-width: 100%;
    }
}