/*------- Variables -------*/
:root {
	--primary-color: #1D3867;
	--main-color-1: #2A7997;
	--main-color-2: #00425A;
	--secondary-color-1: #111629;
	--secondary-color-2: #4AB0BF;
	--secondary-color-3: #82BB76;
	--secondary-color-4: #53B1B1;
    --section-padding: 60px;
    --color-white: #fff;
    --icon-main-color: #1D3867;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --card-padding: 10px;
    --padding-1: 15px;

    --box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}
/*------- Dark Mode Variables -------*/
.dark-theme-varibles {
    --main-color: #F76F01;
	--secondary-color: #F5F5F5;
    --section-padding: 60px;
    --section-background: #282c35;
    --color-white: #1A1C22;
    --icon-main-color: #F76F01;
}
/*------- Global Rules -------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Cairo', sans-serif;
    color: var(--secondary-color);
    /* background: linear-gradient(360deg, rgba(74, 176, 191, 0.1) -12.84%, rgba(74, 176, 191, 0) 88.9%); */
    /* filter: blur(5px); */
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin: 40px auto;
}
a {
    text-decoration: none;
}
/*------- Navbar -------*/
nav{
    position: fixed;
    width: 100%;
    height: 12vh;
    z-index: 9999999999;
}

.logo-navbar {
    position: absolute;
    left: 5%;
    top: 50%;
    transform: translateY(-50%);
    width: 100px;
    cursor: pointer;
    transition: all 200ms ease;
}
.nav-links {
    display: flex;
    list-style: none;
    width: auto;
    height: 100%;
    align-items: center;
    margin-left: auto;
    margin-right: 5%;
    gap: 20px;
}
.links {
    color: #1D3867;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    font-weight: 500;
    /* text-transform: uppercase; */
    transition: all 200ms ease;
}
.links.active {
    color: #2A7997;
}
.navbar-header {
    display: flex;
    height: 100%;
}
.navbar-header.sticky {
    background-color: #fff;
}
.num-phone {
    padding: 2px 10px;
    color: #fff;
    background: #2A7997;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}
.num-phone a {
    margin-right: 5px;
    color: #fff;
}
#current-lang {
    display: flex;
    position: relative;
    align-items: center;
    gap: 10px;
    background: #2A7997;
    box-shadow: 0px 0px 4px rgb(0 0 0 / 25%);
    border-radius: 6px;
    padding: 2px 4px;
    color: #fff;
    cursor: pointer;
}
.lnag-menu {
    position: relative;
}
.lnag-menu ul {
    position: absolute;
    top: 40px;
    right: 0px;
    list-style: none;
    background-color: #fff;
    box-shadow: 0px 0px 4px rgb(0 0 0 / 25%);
    border-radius: 10px 0px 10px 10px;
    text-align: center;
}
.lnag-menu ul li {
    padding: 2px 10px;
}
.lnag-menu ul li:first-child {
    border-bottom: 1px solid #2A7997;
}
.show-lang {
    display: none;
}
.show-lang.active {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 945px){
    .line{
        width: 32px;
        height: 3px;
        background: white;
        margin: 6px;
        transition: all 400ms ease;
    }
    .links.active {
        color: #fff;
    }
    #line-1.hover{
        transform: rotate(45deg) translate(12px);
    }
    #line-2.hover{
        opacity: 0;
    }
    #line-3.hover{
        transform: rotate(-45deg) translate(12px);
    }
    .line {
        background: #183D69;
    }
    .hamburger {
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translateY(-50%);
        z-index: 999;
    }
    .nav-links {
        position: fixed;
        background: linear-gradient(85.04deg, #183D69 2.17%, #59B3A7 100%);
        height: 100vh;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        margin: 0;
        clip-path: circle(100px at 90% -20%);
        -webkit-clip-path: circle(100px at 90% -20%);
        transition: all 800ms ease-out;
        pointer-events: none;
        z-index: 999;
    }
    .nav-links.open-nav{
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
        pointer-events: all;
    }

    .links{
        margin: 0;
        font-size: 20px;
    }
    
    .link-list{
        opacity: 0;
    }
    .link-list.fade{
        opacity: 1;
    }

    .link-list:nth-child(1){
        transition: all 500ms ease 100ms;
    }
    .link-list:nth-child(2){
        transition: all 500ms ease 300ms;
    }
    .link-list:nth-child(3){
        transition: all 500ms ease 500ms;
    }
    .link-list:nth-child(4){
        transition: all 500ms ease 700ms;
    }
    
}

.side-icons {
    position: fixed;
    background-color: #fff;
    border-radius: 10px 0 0 10px;
    top: 50%;
    right: 0;
    z-index: 99999;
    box-shadow: 0px 0px 4px rgb(0 0 0 / 25%);
    display: flex;
    width: 50px;
    flex-direction: column;
    align-items: center;
}
.side-icons img {
    width: 40px;
    height: 40px;
}
.side-icons > div {
    width: 100%;
    padding: 5px;
    border-bottom: 1px solid #c4c4c4;
}
.side-icons > div:last-child {
    border-bottom: none;
    /* box-shadow: none; */
}
img {
    user-select: none;
}
.top {
    position: fixed;
    font-size: 20px;
    bottom: 30px;
    right: -50px;
    background-color: #B4C336;
    padding: 15px;
    border-radius: 50%;
    color: var(--color-white);
    z-index: 999;
    cursor: pointer;
    transition: 0.2s;
    animation: top-animation 2s infinite;
}
.top.show {
    right: 30px;
}
@keyframes top-animation {
    0% {
        opacity: 1;
        transform: rotate(0) translate(0, 10px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 1;
        transform: rotate(0) translate(0, -10px);
    }
}
/*------- Footer -------*/
footer {
    background: linear-gradient(to left, #183D69 2.17%, #59B3A7 100%);
    /* position: fixed;
    bottom: 0; */
    width: 100%;
    color: var(--color-white);
}
footer .main-content {
    display: flex;
}
footer .main-content a {
    text-decoration: none;
    color: var(--color-white);
}
footer .box {
    flex-basis: 50%;
    padding: var(--section-padding);
}
footer .logo {
    width: 170px;
    height: 70px;
}
footer .contact-us .info { 
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    margin-top: 10px;
}
footer .contact-us .info .text {
    color: var(--color-white);
    font-size: 18px;
}
footer .contact-us .info i {
    font-size: 35px;
}
footer .main-content .right h1 {
    font-size: 30px;
    border-bottom: 2px solid var(--color-white);
    display: inline-block;
}
footer .main-content .right p {
    margin-top: 20px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: var(--color-white);
}
footer .main-content .right .foot-navbar{
    margin-top: 30px;
    display: flex;
    gap: 15px;
}
footer .main-content .right .social {
    margin-top: 30px;
    font-size: 20px;
    display: flex;
    gap: 20px;
    align-items: center;
}
footer .main-content .right .social i {
    font-size: 35px
}
footer .copyright {
    text-align: center;
    font-size: 18px;
    padding: 0 0 20px 0;
}





/*------- Media Queries -------*/
@media screen and (max-width: 838px) {
    footer .main-content {
        flex-direction: column;
    }
    .free-message .container {
        grid-template-columns: none;
        grid-template-rows: repeat(2, 1fr);
    }
}
@media screen and (max-width: 840px) { /*768px*/
    
    .background.active {
        margin-top: 120px;
        transition: 0.3s;
        transform: translateX(-50%);
    }
}
@media screen and (max-width: 768px) {
    footer .main-content .right .social i {
        font-size: 25px;
    }
    footer .main-content .right .foot-navbar {
        flex-wrap: wrap;
    }
}
@media screen and (max-width: 490px ) {
    footer .main-content .right .foot-navbar {
        flex-direction: column;
    }
}