:root {
    --primary-color: #1D3867;
	--main-color-1: #2A7997;
	--main-color-2: #00425A;
	--secondary-color-1: #111629;
	--secondary-color-2: #4AB0BF;
	--secondary-color-3: #BFDB38;
    --section-padding: 60px;
    --section-background: #eaf0f9;
    --color-white: #fff;
    --icon-main-color: #111629;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --card-padding: 10px;
    --padding-1: 1.2rem;

    --box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}
/*------- Project - Sub Services 2 -------*/
.sub-service-project-2 .container {
    width: 100%;
    padding-right: 50px;
    padding-left: 50px;
    margin: 80px auto;
}
.sub-service-project-2 .container .row-col-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.sub-service-project-2 .container .box-project {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
.sub-service-project-2 .container .box-project .title-poject {
    color: var(--primary-color);
    text-align: center;
    font-size: 30px;
}
.sub-service-project-2 .container .box-project p {
    font-size: 18px;
    color: var(--primary-color);
    width: 60%;
}
.sub-service-project-2 .container .box-project img {
    width: 500px;
    height: 600px;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.25));
    border-radius: 60px;
}
.sub-service-project-2 .container .box-project a {
    margin-top: 15px;
    padding: 1px 25px;
    color: var(--color-white);
    background: var(--main-color-1);
    border: 2px solid var(--main-color-1);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}
.sub-service-project-2 .container .row-col-1 {
    display: flex;
    align-items: center;
    flex: 0 0 50%;
    justify-content: center;
    flex-wrap: wrap;
    /* gap: 30px; */
}
.sub-service-project-2 .container .row-col-1 .left {
    width: 550px;
    color: var(--primary-color);
}
.sub-service-project-2 .container .row-col-1 .left h2 {
    font-size: 35px;
}
.sub-service-project-2 .container .row-col-1 .left p {
    font-size: 18px;
}
.sub-service-project-2 .container .row-col-1 .left span {
    color: var(--secondary-color-2);
}
.sub-service-project-2 .container .row-col-1 .right img {
    width: 600px;
}

@media screen and (max-width: 786px) {
    .sub-service-project-2 .container .row-col-1 .left {
        width: auto;
    }
    .sub-service-project-2 .container .row-col-1 .left h2 {
        font-size: 28px;
    }
    .sub-service-project-2 .container .row-col-1 .right img {
        width: 100%;
    }
}
@media screen and (max-width: 520px) {
    .sub-service-project-2 .container .box-project {
        margin-top: 20px;
    }
    .sub-service-project-2 .container .box-project p {
        width: 90%;
    }
    .sub-service-project-2 .container .box-project img {
        width: 300px;
        height: 400px;
        border-radius: 20px;
    }
}