:root {
    --primary-color: #1D3867;
	--main-color-1: #2A7997;
	--main-color-2: #00425A;
	--secondary-color-1: #111629;
	--secondary-color-2: #4AB0BF;
	--secondary-color-3: #BFDB38;
    --section-padding: 60px;
    --section-background: #eaf0f9;
    --color-white: #fff;
    --icon-main-color: #111629;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --card-padding: 10px;
    --padding-1: 1.2rem;

    --box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}
.navbar {
    position: sticky;
    top: 0;
    background-color: var(--color-white);
}
.container .text {
    text-align: center;
}
.container .p-section {
    width: 700px;
    margin: 20px auto;
}
.container h2.title {
    display: inline-block;
    font-size: 35px;
    color: #2A7997;
    font-weight: 700;
    position: relative;
}
.background .header {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(345deg, var(--main-color-1), transparent),url(../images/background.png) no-repeat center center / cover;
    width: 100%;
    height: 483px;
    position: relative;
    z-index: -1;
}
.background .header h2 {
    color: var(--color-white);
    font-size: 45px;
    line-height: 75px;
    text-align: center;
    max-width: 820px;
}

/*------- Section 1 -------*/
.s1 .container .text .para {
    display: flex;
    flex-direction: row;
    text-align: left;
    gap: 20px;
}
.s1 .container .text .para .left {
    margin: 20px auto;
}
.s1 .container .text .para .left h1 {
    text-align: left;
    width: 520px;
    font-weight: 700;
    font-size: 40px;
    line-height: 62px;
    color: var(--main-color-1);
    margin-top: 15px;
}
.s1 .container .text .para .left span {
    color: var(--primary-color);
}
.s1 .container .text .para .p-section {
    font-weight: 600;
    font-size: 20px;
    line-height: 31px;
    color: rgba(17, 22, 41, 0.8);
    width: 600px;
}



/*------- Feature -------*/
.s2 .container .row-1-col-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 25px;
    justify-items: center;
    margin-top: 30px;
}
.s2 .container .row-1-col-2 .col-1 .content {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}
.s2 .container .row-1-col-2 .col-1 .content h3 {
    font-size: 30px;
    font-weight: 700;
    color: #2A7997;
}
.s2 .container .row-1-col-2 .col-1 .content p {
    width: 450px;
    color: #1D3867;
    font-size: 18px;
    font-weight: 500;
}
.s2 .container .row-1-col-2 .col-1 .content img {
    width: 500px;
    height: 500px;
}
@media screen and (max-width: 1030px) {
    .s2 .container .row-1-col-2 {
        grid-template-columns: 1fr;
    }
}
@media screen and (max-width: 520px) {
    .s2 .container .row-1-col-2 .col-1 .content p {
        width: auto;
    }
    .s2 .container .row-1-col-2 .col-1 .content img {
        width: 100%;
        height: 400px;
    }
}


/*------- Project - Sub Services 2 -------*/
.say-about .text {
    text-align: center;
}
.say-about .container {
    background: rgba(214, 236, 236, 0.5);
    padding: 45px;
    width: fit-content;
}
.say-about .text h2 {
    display: inline-block;
    font-size: 35px;
    color: var(--primary-color);
    border-bottom: 3px solid var(--main-color-1);
    font-weight: 700;
}
.success-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.testimonial {
    position: relative;
    max-width: 900px;
    width: 100%;
    padding: 50px 0;
    overflow: hidden;
}
.testimonial .image {
    height: 170px;
    width: 170px;
    object-fit: cover;
    border-radius: 50%;
}
.testimonial .slide {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 30px;
    height: 100%;
    width: 100%;
}
.say-about .slide p {
    position: relative;
}
.say-about .slide span {
    position: absolute;
    font-size: 45px;
    color: var(--secondary-color-3);
}
.say-about .slide .s1 {
    top: -35px;
    left: 160px;
}
.say-about .slide .s2 {
    right: 160px;
}
.slide p {
    text-align: center;
    padding: 0 160px;
    font-size: 14px;
    font-weight: 400;
    color: #333;
}
.slide .quote-icon {
    font-size: 30px;
    color: #4070f4;
}
.swiper-pagination-bullet {
    background-color: rgba(0, 0, 0, 0.8);
}
.swiper-pagination-bullet-active {
    background-color: #4070f4;
}
@media screen and (max-width: 768px) {
    .slide p {
        padding: 0 20px;
    }
    .nav-btn {
        display: none;
    }
    .say-about .text h2 {
        font-size: 30px;
    }
    .say-about .slide .s1 {
        left: 15px;
    }
    .say-about .slide .s2 {
        right: 15px;
    }
}








/*------- Media Queries -------*/
@media screen and (max-width: 1320px) {
    .item-vault .container .row-col-2 {
        margin-top: auto;
    }
    .item-vault .container .row-col-2 .left h3 {
        width: auto;
    }
}
@media screen and (max-width: 1000px) {
    .say-about .container {
        width: auto;
    }
}
@media screen and (max-width: 920px) {
    .s1 .container .text .para {
        flex-direction: column;
        align-items: center;
        gap: 0;
    }
    .s1 .container .text .para .left {
        width: auto;
    }
    .s1 .container .text .para .left .p-section, 
    .s1 .container .text .para .left h1,
    .s1 .container .text .para .p-section {
        width: auto;
    }
}
@media screen and (max-width: 786px) {
    .s1 .container .text .para .left h1 {
        font-size: 30px;
    }
    .s1 .container .text .para .left {
        width: auto;
    }
}
@media screen and (max-width: 650px) {
    /* .background .header h2 {
        font-size: 30px;
        line-height: 50px;
    } */
    .item-vault .container .row-col-2 .left {
        width: auto;
    }
    .item-vault .container .row-col-2 .left h3 {
        font-size: 28px;
    }
    .item-vault .container .row-col-2 .right img {
        width: 100%;
        height: auto;
        border-radius: 20px;
    }
}
@media screen and (max-width: 520px) {
    .s1 .container .text .para .left .line {
        width: 250px;
    }
    .say-about .text h2 {
        font-size: 24px;
    }
}